<nav class="navbar">
 <!-- insert ng-controller when code allows -->
  <div class="nav-wrapper">
  	<a (href="#/", class="brand-logo")>
  		<img(src="", style="width:60px;height:50px")/>
  	</a>
	  <ul id="nav-mobile", class="right hide-on-med-and-down">
	    <li class="active"><a ng-href="#/">Home</a></li>
	    <li><a ng-href="#/search">Search</a></li>
	    <li><a ng-href="#/profile/{{userContainer.user.username}}" ng-show="userContainer.user">My Profile</a></li>
	    <li ng-click="logoutUser()" ng-show="userContainer.user")><a href="">Logout</a></li>
	    <li ng-show="!userContainer.user"><a href="#/login">Login</a></li>
	    <li ng-show="userContainer.user"><a href="#/myaccount/{userContainer.user.username}}">My Account</a></li>
	  </ul>
  </div>
<!--   <ul class="acme-navbar-text">
    <li>Application was created {{ vm.relativeDate }}.</li>
  </ul> -->
</nav>
